*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     transition: 0.5s;
}
:root{

  --span-color : #fca311; 
}
body{
   background-color: rgb(238, 238, 238); 
   text-transform: capitalize;
   letter-spacing: 0.1rem;  
}
/* loading */
/* #spinners{
    display: flex;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    margin: auto;
    gap: 30px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.897);
   
    transition:opacity 1s,visibility 1s; 
    
    } 
     #spinners .spiner{
      width: 25px ;
      height: 25px;
      background-color: rgb(112, 6, 6);
      border-radius: 50%;
      animation: spiner 0.4s linear infinite;
      animation-direction: alternate-reverse;
    }
    #spinners.hidden{
      opacity: 0;
      visibility: hidden;
    }
    #spinners :nth-child(1){animation-delay: 0.50s;}
    #spinners :nth-child(2){animation-delay: 0.75s;}
    #spinners :nth-child(3){animation-delay: 1s;}
    @keyframes spiner {
      from{
    transform: scale(0.2);
      }
      to{
        transform: scale(1);
      }
      
    } */

/* nav */
nav {
    background-color: rgb(238, 238, 238);
    border-bottom: 1px solid var(--span-color);
}
nav #modes{
  display: flex;
  align-items: center;
}
#lightMode{
  transform: scale(0);
}
nav h4 {
    /* color: var(--c-white); */
    cursor: pointer;
    overflow: hidden;
}
span {
color: var(--span-color);
margin-left:0.4rem ;

}
nav ul {
    list-style: none;
    display: flex;
    text-align: center;
    margin: 0;
    
}
 nav a {
    display: inline-block;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    width: 85px;
    text-decoration: none;
}
nav a  i{
    font-size: 20px;
    margin: 0 4px;
}

nav ul li {
    border : 2px solid transparent; padding: 0 4px;

}
nav ul li::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--span-color);
    transition: 1s;
}
nav ul li:hover::after{
    width: 95%;
    bottom: 0;
    left: 0px;
   
}
#list .active {
    background-color:var(--span-color);
    border-radius: 10px;
}


nav ul li a:hover{
    letter-spacing: 0.5px;  
    
}
nav  span:active,
.foter i:active,
nav ul li:active{
    transform: translateY(5px);
}
nav div span {
  cursor: pointer;
  margin: 0;
  border: 1px solid;
  padding: 0 2px;
  /* padding-left: 2px; */
  border-radius: 50%;
  background-color: #001d3d;
}
nav div span i {
  font-size: 17px;
}
.bar {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
}
.bar span {
    display:block;
    width: 35px;
    height: 3px;
   margin: 5px 0;
   border-radius: 5px;
    background-color: black;
    transition: 0.5s;
}
.activ span:nth-child(1){
    transform:translateY(7px)  rotate(-45deg);
    background-color: red;
    -webkit-transform:translateY(7px)  rotate(-45deg);
    -moz-transform:translateY(7px)  rotate(-45deg);
    -ms-transform:translateY(7px)  rotate(-45deg);
    -o-transform:translateY(7px)  rotate(-45deg);
}
.activ span:nth-child(2){
    opacity: 0;
}
.activ span:nth-child(3){
    transform: translateY(-7px)  rotate(45deg);
    background-color: red;
}


.test{
    height: 100%;
    width: 0%;
    top: 0;
    right: -10px;
    
    /* border-left: red 5px solid; */
    background-color: rgb(238, 238, 238);
    position: absolute;
    animation: text 8s linear 0.5s infinite;
    /* animation: border 0.5s linear 0.5s infinite; */
    }
    
  @keyframes text {from
    {width: 100%;}to{ width: 0%;
    }
      0%{
        
        border-left: var(--span-color) 5px solid;
    }      10%{
        /* width:90%; */
        border: none;
    }      20%{
        /* width: 80%; */
        border-left: var(--span-color) 5px solid;
    }      30%{
        /* width: 70%; */
        border: none;
    }      40%{
        /* width: 60%; */
        border-left: var(--span-color) 5px solid;
    }      50%{
        /* width: 50%; */
        border: none;
    }  60%{
        /* width: 40%; */
        border-left: var(--span-color) 5px solid;
    }   70%{
        /* width: 30%; */
        border: none;
    }
      80%{
        /* width: 20%; */
        border-left: var(--span-color) 5px solid;
    }    90%{
        /* width: 10%; */
        border: none;
    }    100%{
        /* width: 0%; */
        border-left: var(--span-color) 5px solid;
    }
  }
 

   /* section2 slide */

#home img{
 width: 50%;
 height: 90vh;
}
/*  */
.img-about {
   height: 100%; 
   bottom:  0;
   right: 0;
   background-color: rgba(255, 255, 255, 0.212);
}
.img-about p {
    height: 100%;
}

 h2::after{
    position: absolute;
    content: "";
    width: 25%;
    height: 2px;
    background-color: var(--span-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}
#aboutBackground{

  background-color: rgb(255, 255, 255);
}
.about-icon {
    height: 400px;
}

  /* section-3 */

  #about{
height: 350px;
position: relative;

  }
.about-my{
    background-image: url(../img/04.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center; 
    height: 100%;
   
  }
 i {
    font-size: 50px;
  }

  .about-text {
    transform: scale(0);
    transition: 2s;
    color: white;
  }

  .about-text h3::after{
    position: absolute;
    content: "";
    width: 80%;
    height: 2px;
    background-color: var(--span-color);
    bottom: 0;
    left:  0;
    
    
  }
  #img-cover{
    transition: 2s;
  }
  #age{
    font-weight: 800;
    font-size: 25px;
  }
  /*img-skills  */

  .img-skills  {
    flex-wrap: wrap;
   
  }
  
 
  .progres{
    flex-direction: column;
    display: flex;
  }
  .my-progress {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
  }
  .my-progress p {
      font-weight: 600;
      font-size: 20px;
      padding-left: 10px;
      padding: 10px 0 0px 10px;
      
  }

.img-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    justify-content: center;

}
.img-skills img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  /* degree */
  #degreeImg{
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 9999;
    position: fixed;
   transform:scale(0) ; 
  bottom: 0;
  
    overflow: hidden;
  }
  #newimg{
    width: 70%;
    height: 80%;
    transform: translate(-50% , -50%) ;
    left: 50%;
    top: 50%;
    position: relative;
    

  }
  #degreeImg span{
      position: absolute;
      right: 10px;
      top: 0px;
      color: var(--span-color);
      cursor: pointer;
      font-size: 60px;
    
      
  }
  #degree{
    background-color: rgb(255, 255, 255);
  }
  .degree{
    flex-wrap: wrap;
    gap: 10px;
    padding: 25px 0;
    justify-content: space-around;
    margin: 3rem 0;

} 
.degree img{
    width: 300px;
    border-radius: 10px;
    flex: auto;
    padding: 0 20px;

     
  }

  /* proj */
  .proj a {
    display: block;
    text-decoration: none;
    color: var(--c-white);
  }
  .proj a:hover {
    color: var(--color);
    transform: scale(1.1);
  }
  /* foter */
.foter{

    height: 150px;
    /* background-color:#dfd5d5 ; */
    background-color:rgba(65, 90, 119, 0.18) ;
}
.foter a {
  color: black;}
.foter i {
    /* color: black; */
    font-size: 40px;
    
}
.foter i:hover{
    color: var(--span-color);
}
.icon{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
/* responsive */
@media screen and (max-width : 970px) {
  nav ul {
        display: block;
        position: fixed;
        background-color: rgb(238, 238, 238);
        width: auto;
        top: 69px;
        right: 0;
        z-index: 10;
        height: auto;
        overflow: hidden;
        transition: 1s;
        transform: translateX(170px);
        padding-left: 0;
        border-bottom-left-radius: 10px;
        border: 1px solid ;
        border-color:  transparent transparent var(--span-color) var(--span-color) ;
      
    }
    nav ul.activ{
      transform: translateX(0);
    }

    nav ul li {
        margin: 25px 0;
        padding-left: 20px;
        
    }
    #home div :first-child{
        width: 100%;
    }
   #home div :last-child {
        display: none;
    }

    .bar {
        display: block;
    } 
 .img-skills img {
       
         width: 75px;
         height: 75px;
    } 
  
    #about{
      height: auto; 
    }
    .about-my{
        overflow: auto;
    }
    video{
      width: 70%;
    
    }
} 